/*GENERAL */
:root {
  --tri-width: 12px;
  --tri-height: calc(var(--tri-width) / 2);
}

* {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: black;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell,
    Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  scrollbar-color: #ccc #111;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  font-weight: 600;
}

p {
  text-align: justify;
  line-height: 1.5;
}

.site-container {
  position: relative;
  float: none;
  margin: auto;
  height: fit-content;
  padding: 0px 2px;
  max-width: 800px;
}

/* HEADER*/

header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  z-index: 10;
  background: white;
}

header a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

.logo a {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.logo a:hover {
  color: gray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 0.5s ease;
  background-color: white;
}

.menu-section {
  display: block;
  padding: 10px 0px 10px 20px;
}

.menu-section a {
  color: gray;
}

.menu-section a:hover {
  color: #000000;
}

.menu-section a.active {
  color: #000000;
}

.hamburguer {
  position: relative;
  width: 22px;
  height: 3px;
  border-radius: 5px;
  background: black;
  transition: 0.2s ease;
}

.hamburguer:before,
.hamburguer:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  border-radius: 5px;
  background: black;
}

.hamburguer:before {
  top: -7px;
  width: 22px;
  transition: 0.2s ease;
}

.hamburguer:after {
  top: 7px;
  width: 22px;
  transition: 0.2s ease;
}

.hamburguer,
.toggle-menu {
  display: none;
}

.toggle-menu {
  margin: 0;
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}

nav input:checked ~ .hamburguer {
  background: transparent;
}

nav input:checked ~ .menu {
  right: 0px;
}

nav input:checked ~ .hamburguer:before {
  top: 0;
  width: 24px;
  height: 4px;
  transform: rotate(45deg);
}

nav input:checked ~ .hamburguer:after {
  top: 0;
  width: 24px;
  height: 4px;
  transform: rotate(-45deg);
}

/* MAIN  */
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

p#skills {
  text-align: center;
}

/* PROJECT */

.project-image {
  display: block;
  width: 100%;
  border-radius: 6px;
  border: 3px solid #ffffff;
  background-color: white;
  overflow: hidden;
}

.extra-large-image {
  flex-basis: 100%;
  aspect-ratio: 1/1;
}

.large-image {
  flex-basis: 100%;
  aspect-ratio: 2/1;
}

.medium-image {
  flex-basis: 66.6%;
  aspect-ratio: 2/1;
}

.small-image {
  flex-basis: 33.3%;
  aspect-ratio: 1/1;
}

.project-description {
  display: block;
  width: 100%;
  padding: 0px 10px 15px 10px;
}

/* INFO */
.info-section {
  display: block;
  position: relative;
  width: 800px;
  margin: auto;
  padding: 0px 15px;
}

/* MEDIA QUERY */

/* phone  */
@media (max-width: 915px) {
  .large-image,
  .small-image {
    flex-basis: 100%;
  }

  :root {
    --tri-width: 12px;
  }
}

/* phone portrait mode  */
@media (max-height: 450px) {
  .small-image {
    flex-basis: 33.33333%;
  }
}

@media (max-width: 800px) {
  .main {
    overflow-x: hidden;
  }
  .hamburguer,
  .toggle-menu {
    display: block;
  }

  .menu {
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 100%;
  }

  .menu a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .menu-section {
    flex-basis: 10%;
  }

  .project-description p {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .medium-image {
    flex-basis: 100%;
    aspect-ratio: 2/1;
  }
}
