/*GENERAL */

* {
  box-sizing: border-box;
}

html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    avenir next,
    avenir,
    segoe ui,
    helvetica neue,
    Adwaita Sans,
    Cantarell,
    Ubuntu,
    roboto,
    noto,
    helvetica,
    arial,
    sans-serif;
  width: 100%;
  height: 100%;
  scrollbar-color: #ccc #111;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  font-weight: 600;
}

p {
  text-align: justify;
  line-height: 1.5;
}

.site-container {
  position: relative;
  float: none;
  margin: auto;
  height: fit-content;
  padding: 0px 2px;
  max-width: 800px;
}

/* HEADER*/

header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: white;
  box-shadow:
    20px 0px white,
    -20px 0px white,
    0px 2px 8px lightgrey;
}

header a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  padding: 10px;
  margin: 0;
}

.img-logo {
  height: 50px;
  vertical-align: baseline;
  padding: 10px;
}

.logo a {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.logo a:hover {
  color: gray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 0.5s ease;
  background-color: white;
}

.menu a {
  color: black;
}

.menu a:hover {
  color: gray;
}

/* MAIN  */
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

p#skills {
  width: inherit;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: auto;
  padding: 25px;
}

/* PROJECT */

.project-image {
  display: block;
  width: 100%;
  border-radius: 6px;
  border: 3px solid #ffffff;
  background-color: white;
  overflow: hidden;
}

.extra-large-image {
  flex-basis: 100%;
  aspect-ratio: 1/1;
}

.large-image {
  flex-basis: 100%;
  aspect-ratio: 2/1;
}

.big-image {
  flex-basis: 50%;
  aspect-ratio: 1/1;
}

.medium-image {
  flex-basis: 66.6%;
  aspect-ratio: 2/1;
}

.small-image {
  flex-basis: 33.3%;
  aspect-ratio: 1/1;
}

.project-description {
  display: block;
  width: 100%;
  padding: 0px 10px 15px 10px;
}

/* INFO */
.info-section {
  display: block;
  position: relative;
  width: 800px;
  margin: auto;
  padding: 0px 10px;
}

#info-img {
  display: block;
  margin: auto;
  max-height: 250px;
  max-width: 250px;
}

/* MEDIA QUERY */

/* phone  */
@media (max-width: 915px) {
  .large-image,
  .big-image,
  .small-image {
    flex-basis: 100%;
  }
}

/* phone portrait mode  */
@media (max-height: 450px) {
  .small-image {
    flex-basis: 33.33333%;
  }
}

@media (max-width: 800px) {
  .main {
    overflow-x: hidden;
  }

  .menu a {
    font-size: 16px;
    font-weight: 700;
  }

  .menu-section {
    flex-basis: 10%;
  }

  .project-description p {
    font-size: 14px;
  }

  p {
    font-size: 16px;
  }

  .medium-image {
    flex-basis: 100%;
    aspect-ratio: 2/1;
  }
}
